<div class="container">
	<appc-root>
		@await Html.PartialAsync("_LoadingSpinnerPartial")
	</appc-root>
</div>
<script>
        window.content = '@Html.Raw(ViewBag.content)';
</script>
<script src="~/dist/vendor.js" asp-append-version="true"></script>
@section scripts {
	<script src="~/dist/main-client.js" asp-append-version="true"></script>
}