mat-card.mat-card {
    background: none;
}

.mat-card:not([class*=mat-elevation-z]) {
    box-shadow: none;
}

.mat-stepper-horizontal, .mat-stepper-vertical {
    background-color: transparent;
    width: 860px;
}

.disabled {
    opacity: 0.3;
}

section.timeline-outer {
    width: 70%;
    margin: 0 auto;
}

.timeline {
    border-left: 4px solid #5C6BC0;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    color: #333;
    margin: 10px auto;
    letter-spacing: 0.5px;
    position: relative;
    line-height: 1.4em;
    padding: 20px;
    list-style: none;
    text-align: left;
}

.timeline h1,
.timeline h2,
.timeline h3 {
    font-size: 1.2em;
}

.timeline p {
    color: #757575;
}

.timeline .event {
    border-bottom: 1px solid #5C6BC0;
    padding-bottom: 15px;
    margin-bottom: 20px;
    position: relative;
}

.timeline .event:last-of-type {
    padding-bottom: 0;
    margin-bottom: 0;
    border: none;
}

.timeline .event:before,
.timeline .event:after {
    position: absolute;
    display: block;
    top: 0;
}

.timeline .event:before {
    left: -165px;
    color: #212121;
    content: attr(data-date);
    text-align: right;
    font-size: 14px;
    min-width: 120px;
}

.timeline .event:after {
    box-shadow: 0 0 0 4px #5C6BC0;
    left: -28px;
    background: #F5F5F5;
    border-radius: 50%;
    height: 11px;
    width: 11px;
    content: "";
    top: 5px;
}

@media (max-width: 945px) {
    .timeline .event::before {
        left: 0.5px;
        top: 20px;
        min-width: 0;
        font-size: 13px;
    }

    .timeline h3 {
        font-size: 16px;
    }

    .timeline p {
        padding-top: 20px;
    }

    section.lab h3.card-title {
        padding: 5px;
        font-size: 16px
    }
}

@media (max-width: 768px) {
    .timeline .event::before {
        left: 0.5px;
        top: 20px;
        min-width: 0;
        font-size: 13px;
    }

    .timeline .event:nth-child(1)::before,
    .timeline .event:nth-child(3)::before,
    .timeline .event:nth-child(5)::before {
        top: 38px;
    }

    .timeline h3 {
        font-size: 16px;
    }

    .timeline p {
        padding-top: 20px;
    }
}