﻿<div flex layout-gt-sm="row" tdMediaToggle="gt-xs" layout-wrap [mediaClasses]="['push-md']">
    <div flex>
        <div layout="column" layout-align="start center" flex>
            <mat-horizontal-stepper #stepper="matHorizontalStepper">
                <mat-step>
                    <ng-template matStepLabel>Przewoźnik</ng-template>

                    <mat-card style="margin: 0;">
                        <mat-divider></mat-divider>
                        <mat-card-header class="bgc-grey-200">
                            <mat-card-title>
                                <span class="md-title">Dane przewoźnika</span>
                            </mat-card-title>
                            <!--<mat-card-subtitle>
                                <span>Wybierz przewoźnika, który dostarczy przesyłkę</span>
                            </mat-card-subtitle>-->
                        </mat-card-header>
                        <mat-divider></mat-divider>
                        <mat-card-content>
                            <div layout="row" flex>
                                <div layout="row" layout-align="start start" flex="70">
                                    <mat-radio-group [(ngModel)]="carrier">
                                        <div layout="row" layout-wrap>
                                            <ng-template ngFor let-item let-last="last" [ngForOf]="carriers" let-i="index + 1">
                                                <div class="pad-sm" [ngClass]="{'disabled': !item.active}">
                                                    <div layout="column" layout-align="start center" class="pad-sm size-width-128 bgc-grey-200"
                                                         style="height: 100px; border-top: 4px solid #5C6BC0;">
                                                        <mat-radio-button id="{{item.value}}" [value]="item" [disabled]="!item.active"></mat-radio-button>
                                                        <img height="48" [src]="item.icon" />
                                                        <!--<span class="md-subhead">{{item.name}}</span>-->
                                                    </div>
                                                </div>
                                            </ng-template>
                                        </div>
                                    </mat-radio-group>
                                </div>
                                <div flex="5"></div>
                                <div layout="column">
                                    <mat-card class="bgc-orange-50">
                                        <mat-card-header>
                                            <mat-icon matCardAvatar class="tc-orange-400">lightbulb_outline</mat-icon>
                                            <mat-card-title>
                                                <span class="md-body-2">Podpowiedź</span>
                                            </mat-card-title>
                                            <mat-card-subtitle>
                                                <span class="md-caption">Zaznacz odpowiedniego przewoźnika, który dostarczy przesyłkę.</span>
                                            </mat-card-subtitle>
                                        </mat-card-header>
                                    </mat-card>
                                </div>
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <div layout="row" layout-align="end center">
                                <button mat-button matStepperNext (click)="checkCarrier(carrier)" class="bgc-orange-100" [disabled]="carrier === NULL">
                                    <span>Dalej</span>
                                    <mat-icon>navigate_next</mat-icon>
                                </button>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Numer przesyłki</ng-template>

                    <mat-card style="margin: 0;">
                        <mat-divider></mat-divider>
                        <mat-card-header class="bgc-grey-200">
                            <mat-card-title>
                                <span class="md-title">Numer przesyłki</span>
                            </mat-card-title>
                            <!--<mat-card-subtitle>
                                <span>Wprowadź numer przesyłki</span>
                            </mat-card-subtitle>-->
                        </mat-card-header>
                        <mat-divider></mat-divider>
                        <mat-card-content>
                            <div layout="row" flex>
								<div layout="column" class="pad-left-md" flex="70">
									<div class="size-height-50"></div>

                                    <div layout="row" layout-align="start start">
                                        <div *ngIf="carrier" class="pad-xs">
                                            <img height="48" [src]="carrier.icon" />
                                        </div>


                                        <div layout="column" class="pad-xs" flex>
                                            <mat-form-field>
                                                <input name="number" type="text" #shipmentNumber
                                                       matInput [(ngModel)]="number"
                                                       placeholder="Numer przesyłki" required />
                                                <mat-hint *ngIf="carrier" align="end">Wprowadź numer przesyłki {{carrier.name}}</mat-hint>
                                            </mat-form-field>
                                        </div>
                                    </div>
								</div>
                                <div flex="5"></div>
                                <div layout="column">
                                    <mat-card class="bgc-orange-50">
                                        <mat-card-header>
                                            <mat-icon matCardAvatar class="tc-orange-400">lightbulb_outline</mat-icon>
                                            <mat-card-title>
                                                <span class="md-body-2">Podpowiedź</span>
                                            </mat-card-title>
                                            <mat-card-subtitle>
                                                <span class="md-caption">Wpisz otrzymany numer przesyłki aby rozpocząć monitorowanie.</span>
                                            </mat-card-subtitle>
                                        </mat-card-header>
                                    </mat-card>
                                </div>
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <div layout="row" layout-align="end center">
                                <button mat-button matStepperPrevious class="bgc-orange-100">
                                    <mat-icon>navigate_before</mat-icon>
                                    <span>Cofnij</span>
                                </button>
                                <button mat-button matStepperNext (click)="checkShipmentNumber(shipmentNumber.value)" class="bgc-orange-100" [disabled]="!shipmentNumber.value">
                                    <span>Dalej</span>
                                    <mat-icon>navigate_next</mat-icon>
                                </button>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </mat-step>
                <mat-step>
                    <ng-template matStepLabel>Podsumowanie</ng-template>

                    <mat-card style="margin: 0;">
                        <mat-divider></mat-divider>
                        <mat-card-header class="bgc-grey-200">
                            <mat-card-title>
                                <span class="md-title">Monitorowanie przesyłki</span>
                            </mat-card-title>
                            <!--<mat-card-subtitle>
                                <span>Historia przesyłki</span>
                            </mat-card-subtitle>-->
                        </mat-card-header>
                        <mat-divider></mat-divider>
                        <mat-card-content *ngIf="routes.length > 0" class="bgc-indigo-50">
                            <div layout="column">
                                <div layout="row" layout-align="space-between start" class="pad-sm">
                                    <span class="md-title tc-grey-800">{{number}}</span>

                                    <div layout="column" layout-align="start end">
                                        <span class="md-body-1 text-upper tc-grey-800">{{route.status.title}}</span>
                                        <span class="md-body-2 tc-grey-600">{{route.datetime | date: 'dd-MM-yyyy, HH:mm'}}</span>
                                    </div>
                                </div>

                                <div layout="row" layout-align="space-between start" class="pad-sm" flex>
                                    <div layout="column">
                                        <span>{{address.description}}</span>
                                        <span>{{address.line1}}</span>
                                        <span>{{address.line2}}</span>
                                    </div>

                                    <div class="pad-xs">
                                        <img height="48" [src]="carrier.icon" />
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                        <td-message *ngIf="routes !== NULL && routes.length === 0 && error !== NULL && !error.ok"
                                    label="Błąd!"
                                    sublabel="Wystąpił problem z odnalezieniem numeru przesyłki. Sprawdź czy wprowadzony numer przesyłki jest poprawny lub numer nie istnieje w systemie."
                                    color="warn"
                                    icon="error">
                        </td-message>
                        <mat-card-content>
                            <div *tdLoading="'overlayStarSyntax'; mode:'indeterminate'; type:'circle'; strategy:'overlay'; color:'accent'" layout="row" flex>
                                <div layout="column" class="pad-left-md" flex>
                                    <div *ngIf="routes.length > 0" class="main-container">
                                        <section id="timeline" class="timeline-outer">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="col s12 m12 l12">
                                                        <ul class="timeline">
                                                            <ng-template ngFor let-item let-last="last" [ngForOf]="routes" let-i="index + 1">
                                                                <li class="event" [attr.data-date]="item.datetime | date: 'dd-MM-yyyy, HH:mm'">
                                                                    <h3>{{item.status.title}}</h3>
                                                                    <p>{{item.status.description}}</p>
                                                                </li>
                                                            </ng-template>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                        <br />
                                    </div>
                                </div>
                            </div>
                        </mat-card-content>
                        <mat-card-actions>
                            <div layout="row" layout-align="end center">
                                <button mat-button matStepperPrevious class="bgc-orange-100">
                                    <mat-icon>navigate_before</mat-icon>
                                    <span>Cofnij</span>
                                </button>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </mat-step>
            </mat-horizontal-stepper>
        </div>
    </div>
</div>