@import '~@angular/material/theming';
@import '~@covalent/core/theming/all-theme';

// (optional) Additional themes
@import '~@covalent/markdown/markdown-theme';
@import '~@covalent/highlight/highlight-theme';

// Define a custom typography config that overrides the font-family
// or any typography level.
$typography: mat-typography-config(
    $font-family: 'Arial',
    $headline: mat-typography-level(32px, 48px, 700)
);

@include mat-core($typography); // $typography is an **optional** argument for the mat-core

$primary: mat-palette($mat-indigo, 500, 100, 900);
$accent: mat-palette($mat-indigo, 400, 100, 900);
$warn: mat-palette($mat-red, 200, 100, 900);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);
@include covalent-theme($theme, $typography); // $typography is an **optional** argument for the covalent-theme

// (optional) Additional themes
@include covalent-markdown-theme($theme);
@include covalent-highlight-theme();

$foreground: map-get($theme, foreground);
$background: map-get($theme, background);

// Apply theme for this app
// Active icon color in list nav
mat-nav-list, mat-list {
    [mat-list-item].active {
        mat-icon[matListAvatar] {
            background-color: mat-color($accent);
            color: mat-color($accent, default-contrast);
        }
        mat-icon[matListIcon] {
            color: mat-color($accent);
        }
    }
}

mat-card {
    mat-card-header {
        mat-icon[matCardAvatar] {
            color: mat-color($accent);
        }
        mat-icon[matCardIcon] { }
    }
}

[td-chip-avatar] {
    background-color: mat-color($accent);
    color: mat-color($accent, default-contrast);
}

// NGX Charts
[ngx-charts-axis-label] text {
    fill: mat-color($foreground, secondary-text);
}

.mat-horizontal-content-container {
    padding: 0 !important;
}

.mat-radio-label-content {
    padding-left: 0 !important;
}

.size-width-6 {
    width: 6px;
    height: auto;
}

.size-width-144 {
    width: 144px;
    height: auto;
}