﻿<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>AngularStarterKit</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1" />
	<base href="~/" />
	<!-- <link rel="stylesheet" href="~/dist/vendor.css" asp-append-version="true" /> -->
</head>
<body>
	@RenderBody()
	@RenderSection("scripts", required: false)
</body>
</html>
