﻿<style>
	appc-root {
		display: flex !important;
		flex-direction: column;
		height: 100vh;
		justify-content: center;
	}
	.loader {
		position: absolute;
		top: 50%;
		left: 50%;
	}
        .loader .bullet {
            position: absolute;
            padding: 5px;
            border-radius: 50%;
            background: #EF6C00;
            -webkit-animation: animIn 2s ease-in-out 0s infinite;
            animation: animIn 2s ease-in-out 0s infinite;
        }
	.loader .bullet:nth-child(1) {
		-webkit-animation-delay: 0s;
		animation-delay: 0s;
	}
	.loader .bullet:nth-child(2) {
		-webkit-animation-delay: 0.25s;
		animation-delay: 0.25s;
	}
	.loader .bullet:nth-child(3) {
		-webkit-animation-delay: 0.5s;
		animation-delay: 0.5s;
	}
	.loader .bullet:nth-child(4) {
		-webkit-animation-delay: 0.75s;
		animation-delay: 0.75s;
	}
	@@-webkit-keyframes animIn {
		0% {
			-webkit-transform: translateX(-150px);
			transform: translateX(-150px);
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			-webkit-transform: translateX(150px);
			transform: translateX(150px);
			opacity: 0;
		}
	}
	@@keyframes animIn {
		0% {
			-webkit-transform: translateX(-150px);
			transform: translateX(-150px);
			opacity: 0;
		}
		50% {
			opacity: 1;
		}
		100% {
			-webkit-transform: translateX(150px);
			transform: translateX(150px);
			opacity: 0;
		}
	}
</style>
<h1>
	<div class='loader'>
		<div class='bullet'></div>
		<div class='bullet'></div>
		<div class='bullet'></div>
		<div class='bullet'></div>
	</div>
</h1>