﻿<mat-sidenav-container>
	<mat-sidenav-content class="bgc-grey-50">
		<mat-toolbar>
			<mat-toolbar-row>
				<div layout="row" layout-align="start center">
					<div layout="row" layout-align="center center">
						<span class="mdi mdi-package-variant mdi-36px tc-orange-600 pad-sm"></span>
						<span>eMonitoring przesyłek</span>
					</div>
				</div>

				<div layout="row" layout-align="end center" flex>
					<div>
						<button mat-button>
							<div layout="row" layout-align="center start">
								<span class="mdi mdi-radar mdi-24px tc-indigo-600"></span>
								<span>Śledzenie</span>
							</div>
						</button>
						<span class="size-width-12"></span>
						<button mat-button>
							<div layout="row" layout-align="center start">
								<span class="mdi mdi-at mdi-24px tc-indigo-600"></span>
								<span>Kontakt</span>
							</div>
						</button>
					</div>

					<span class="size-width-64"></span>

					<div>
						<button mat-button class="bgc-orange-100">
							<div layout="row" layout-align="center start">
								<span class="mdi mdi-login-variant mdi-24px tc-orange-600"></span>
								<span>Logowanie</span>
							</div>
						</button>
					</div>
				</div>
			</mat-toolbar-row>

			<!--<mat-toolbar-row>

		</mat-toolbar-row>-->
		</mat-toolbar>

		<mat-divider class="bgc-orange-400"></mat-divider>

		<main [@routerTransition]="getState(o)">
			<router-outlet #o="outlet"></router-outlet>
		</main>

		<mat-divider class="bgc-grey-200"></mat-divider>

		<div layout="column" class="bgc-indigo-50">
			<div class="pad-md">
				<div layout="row" layout-align="start start" flex>
					<div layout="column" flex="33">
						<span class="md-caption tc-grey-800">PRZESYŁKA</span>
						<span class="size-height-12"></span>
						<div layout="row">
							<div layout="row">
								<a href="#" class="md-button">
									<span class="mdi mdi-keyboard-return tc-indigo-600"></span>
									<span>Śledzenie przesyłki</span>
								</a>
							</div>
						</div>
					</div>

					<div layout="column" flex="33">
						<span class="md-caption tc-grey-800">ZGŁOŚ</span>
						<span class="size-height-12"></span>
						<div layout="row">
							<div layout="column">
								<a href="#" class="md-button">
									<span class="mdi mdi-keyboard-return tc-indigo-600"></span>
									<span>Problem w aplikacji</span>
								</a>
							</div>
						</div>
					</div>

					<div layout="column" flex="33">
						<span class="md-caption tc-grey-800">OBSŁUGA KLIENTA</span>
						<span class="size-height-12"></span>
						<div layout="row">
							<div layout="column">
								<a href="#" class="md-button">
									<span class="mdi mdi-keyboard-return tc-indigo-600"></span>
									<span>Kontakt</span>
								</a>
								<a href="#" class="md-button">
									<span class="mdi mdi-keyboard-return tc-indigo-600"></span>
									<span>Pomoc</span>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="pad-md">
				<div layout="row" layout-align="start start" flex>
					<div layout="column" flex="33">
						<span class="md-subhead tc-grey-800">
                            <span class="mdi mdi-package-variant tc-indigo-600"></span>
                            <span>eMonitoring przesyłek</span>
                        </span>
						<span class="size-height-12"></span>
						<a href="#" class="md-caption">O firmie</a>
						<a href="#" class="md-caption">Aktualności</a>
						<span class="size-height-24"></span>
						<span class="md-caption">Społeczność</span>

						<div layout="row">
							<button mat-icon-button matTooltip="Facebook">
								<span class="mdi mdi-facebook-box mdi-24px tc-indigo-400"></span>
							</button>
							<span class="size-width-6"></span>
							<button mat-icon-button matTooltip="Twitter">
								<span class="mdi mdi-twitter mdi-24px tc-blue-400"></span>
							</button>
							<span class="size-width-6"></span>
							<button mat-icon-button matTooltip="Skype">
								<span class="mdi mdi-skype mdi-24px tc-light-blue-400"></span>
							</button>
						</div>
					</div>

					<div layout="column" flex="33">
						<span class="md-subhead tc-grey-800">
                            <span class="mdi mdi-phone tc-indigo-600"></span>
                            <span>Infolinia</span>
                        </span>
						<span class="size-height-12"></span>
						<span class="md-caption">Kontakt telefoniczny</span>
						<span class="md-title">+48 507 359 847</span>
					</div>

					<div layout="column" flex="33">
						<span class="md-subhead tc-grey-800">
                            <span class="mdi mdi-newspaper tc-indigo-600"></span>
                            <span>Newsletter</span>
                        </span>
						<span class="size-height-12"></span>
						<span class="md-body-1 tc-grey-800">Powiadomienia wysyłane raz w tygodniu</span>
						<span class="size-height-12"></span>
						<div layout="row">
							<a href="#" class="md-button">
								<span>Zapisz się</span>
								<span class="mdi mdi-send tc-indigo-400"></span>
							</a>
						</div>
					</div>
				</div>
			</div>

			<div class="pad-md">
				<div layout="row">
					<span class="md-caption tc-grey-600">Copyright © 2018 Marcin Murawski. Wszelkie prawa zastrzeżone.</span>
				</div>
			</div>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>